<!doctype html>
<html>
	<head>
		<title>Mood</title>
		    <link href='http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
		<link rel="stylesheet/less" type="text/css" href="../content/assets/styles/main.less" />
		<script src="../content/assets/scripts/less-1.3.3.min.js"></script>		
	</head>

	<body>
		<h2 class="feedback">Tack!</h2>
		<div class="container">
			<div class="scroll-area">
				<section class="section-happy"></section>
				<section class="section-middle"></section>
				<section class="section-unhappy"></section>
			</div>
			<div class="scroll-area-smiles">
				<section class="icon-emo-grin"></section>
				<section class="icon-emo-sleep"></section>
				<section class="icon-emo-unhappy"></section>
			</div>
		</div>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script src="../content/assets/scripts/app.js"></script>
	</body>
</html>